<section id="about" class="about-section">
    <div class="container">
      <h2>About Me</h2>
      <div class="blurred-box">
        <img src="../../assets/Photo.jpg" alt="Profile Image" class="profile-image">
        <p class="about-description">I am Nicolas Delgado, a passionate 
            computer engineer with a strong dedication to software development.<br> 
            With a solid foundation in programming and problem-solving, 
            I strive to create efficient and innovative solutions that 
            deliver exceptional user experiences.I am constantly exploring 
            new technologies and methodologies to stay up-to-date in this 
            ever-evolving field.</p>
        <a href="../../assets/Nicolas_Delgado_Resume.pdf" target="_blank" class="resume-link">Download Resume</a>
        <div class="sub-sections">
            <div class="sub-section">
              <h3>Projects</h3>
              <p>Explore my latest projects and see the innovative solutions I've developed.</p>
              <a href="/projects" class="sub-section-link">View Projects</a>
            </div>
            <div class="sub-section">
              <h3>Services</h3>
              <p>Discover the range of services I offer and how I can help you with your software needs.</p>
              <a href="/services" class="sub-section-link">Learn More</a>
            </div>
            <div class="sub-section">
              <h3>Contact</h3>
              <p>Get in touch with me to discuss collaboration opportunities or any inquiries you may have.</p>
              <a href="/contact" class="sub-section-link">Contact Me</a>
            </div>
            <div class="sub-section">
              <h3>Skills</h3>
              <p>Explore my skills and expertise in various programming languages and technologies.</p>
              <a href="/skills" class="sub-section-link">View Skills</a>
            </div>
          </div>
    </div>
    </div>
  </section>

  

  