
html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
footer1{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #333664;
    padding: 10px 0;
  }
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../src/app/home/home.component.scss';
@import '../src/app/about/about.component.scss';
@import '../src/app/contact/contact.component.scss';
@import '../src/app/project/project.component.scss';
@import '../src/app/services/services.component.scss';

