/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
footer1{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #333664;
    padding: 10px 0;
  }
@import '~@angular/material/prebuilt-themes/indigo-pink.css'

